@import '../../../../index.scss';

.switcherBox {
  padding-top: 10px;
}

.switcher {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 35px;
  height: 20px;
  padding: 2.2px 3px;
  border-radius: 30px;
  background-color: $Brand-1;
  position: relative;

  & input {
    opacity: 0;
    position: relative;
    top: -15px;
  }

  &::before {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: transform 500ms;
  }

  &::after {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 2px;
    right: -21px;
  }
}

.icon {
  width: 12px;
  height: 12px;
}

.dark {
  &::before {
    background-color: $light-theme;
  }

  &::after {
    background-image: url('../../../public/icons/icon-moon.svg');
    transition: background-image 500ms;
  }
}

.light {
  &::before {
    background-color: $dark-theme;
    transform: translateX(75%);
    transition: transform 500ms;
  }

  &::after {
    background-image: url('../../../public/icons/icon-sun.svg');
  }
}

