.counter {
  justify-self: center;
  width: 250px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 18px;
  gap: 40px;
  border-radius: 80px;

  &_item {
    width: 140px;
    display: flex;

    &:last-of-type {
      position: relative;
      left: -29px;
    }
  }
}

.counter_number {
  @include Number-M;

  color: $Brand-1;
  margin-right: 16px;
  position: relative;
  top: -11px;
}

.counter_text {
  @include Para-M;

  margin-right: 16px;
  color: $White;
}

.font_dark {
  color: $font-color-dark;
}

.font_light {
  color: $font-color-light;
}

.container_dark {
  background-color: $BG-2;
}

.container_light {
  background-color: rgba($Brand-1, .2);
}
