@import '../../../../index.scss';

.myPhoto {
  justify-self: center;
  width: 80%;
  max-width: 500px;
  border-width: 5px;
  border-style: solid;
  border-radius: 40% 0;
  box-shadow: -5px -5px 10px $Brand-1;
}
