.title {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

@include OnTablet {
  .title {
    font-size: 22px;
    line-height: 25px;
  }
}

@include OnDesktop {
  .title {
    font-size: 25px;
    line-height: 30px;
  }
}
@include OnLarge {

}