.form {
  @include Para-U;

  width: calc(100vw - ($margin-inline-mobile * 2));
  max-width: 400px;
  justify-self: center;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  row-gap: 60px;
  column-gap: 20px;

  & label {
    align-self: center;
    display: flex;
    flex-direction: column;
    color: $Brand-1;
    position: relative;

    &:not(&:last-of-type) {
      border-bottom: 1px solid $Brand-1;
      padding-bottom: 8px;

      & input,
      & textarea {
        margin-top: 20px;
        background-color: inherit;
        border: none;

        &:focus {
          outline: none;
          caret-color: $Brand-1;

          &::placeholder {
            color: rgba($White, 0);
          }
        }
      }

      & textarea {
        height: 17px;
        overflow: hidden;
        resize: none;
      }
    }
  }
}

.form__header {
  @include Menu-M;

  width: calc(100vw - ($margin-inline-mobile * 2));
  max-width: 325px;
  align-self: center;
  justify-self: center;
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  color: $Brand-1;
  border: 2px solid $Brand-1;
  padding-block: 17px;
  border-radius: 32px 0 32px 0;
}

.form__name {
  grid-area: 2 / 1 / 3 / 2;
}

.form__email {
  grid-area: 2 / 2 / 3 / 3;
}

.form__message {
  grid-area: 3 / 1 / 4 / 3;
}

.form__button {
  grid-area: 4 / 1 / 5 / 3;
}

.dark {
  & label:not(& label:last-of-type) {
    & input,
    & textarea {
      color: $White;

      &::placeholder {
        color: rgba($White, 0.2);
      }
    }
  }
}

.light {
  & label:not(& label:last-of-type) {
    & input,
    & textarea {
      color: $BG-2;

      &::placeholder {
        color: rgba($BG-2, 0.3);
      }
    }
  }
}
