.form_link {
  @include H2-M;

  display: flex;
  margin: 0 24px;
  color: $Brand-1;

  & i {
    width: 40px;
    height: 40px;
    margin-left: 16px;
    border-radius: 50%;
    background-color: $Grey;
    background-image: url('../../../../../public/icons/icon-mail.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
  }
}