.list__item {
  width: 88px;
  height: 88px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 75%;
  aspect-ratio: 10 / 9;
  border-radius: 50%;
  margin: 0 auto;
}

.title {
  @include Menu-M;

  text-transform: uppercase;
  scale: .8;
}
