.button {
  position: absolute;
  top: 320px;
  outline: none;
  border: none;
  width: 45px;
  height: 70px;
  background-color: $Brand-1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #2876b6;
  }
}

.button_left {
  left: 0;
  scale: (-1);

  &:active {
    scale: (-0.95);
  }
}

.button_right {
  right: 0;

  &:active {
    scale: 0.95;
  }
}
