.home_items {
  margin-block: auto;
  max-width: 1300px;
  display: grid;
  grid-gap: 60px;
}

.dark {
  background-color: $BG-1;
  border-color: $BG-1;
}

.light {
  background-color: $White;
  border-color: $White;
}
