.header {
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 1fr);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: calc(100vw - $margin-inline-mobile * 2);
    height: 2px;
    background-color: $Grey;
    position: absolute;
    bottom: 0;
  }
}

.dark {
  background-color: $BG-1;
  border-color: $BG-1;
}

.light {
  background-color: $White;
  border-color: $White;
}