.header {
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 1fr);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: calc(100vw - 48px);
    height: 2px;
    background-color: $Grey;
    position: absolute;
    bottom: 0;
  }
}