.header_section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header_container {
  width: 100%;
  max-width: 1800px;
  position: relative;
  padding-bottom: 8px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $Grey;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }
}

.header {
  max-width: 1800px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.dark {
  background-color: $BG-1;
  border-color: $BG-1;

  
}

.light {
  background-color: $White;
  border-color: $White;

  & .header_container {
    &::after {
      filter: opacity(20%);
    }
  }
}

@include OnTablet {

}

@include OnDesktop {

}

@include OnLarge {

}