.works {
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../../images/backgroundHeads.webp");
    background-size: cover;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 1;
  }
}

.works__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__item {
  margin-top: 20px;
  width: 70%;
  max-width: 400px;
  padding: 30px 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($Brand-1, 0.4);
}

.work__item__dark {
  background-color: rgba($Brand-1, 0.1);
}

.work__item__light {
  background-color: rgba($Brand-1, 0.3);
}

.title {
  @include Logo-M;

  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 20px;
  text-align: center;
}

.item__image {
  position: relative;
}

.computer {
  width: 100%;
  position: relative;
  z-index: 2;
}

.preview_container {
  width: 53%;
  height: 47%;
  overflow: hidden;
  position: absolute;
  top: 21.8%;
  right: 2.5%;
  z-index: 1;
}

.preview {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.link {
  @include Button-U;

  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding: 2% 8%;
  border-radius: 8px;
  color: inherit;
  background-color: $Brand-1;
  

  &:hover {
    background-color: #2876b6;
  }

  &:active {
    scale: .95;
  }
}

.dark {
  background-color: $BG-2;

  &::after {
    opacity: 0.4;
  }
  // background-image: linear-gradient(
  //     rgba($BG-2, 0.7),
  //     rgba($BG-2, 0.7)
  //   ),
  //   url("../../images/backgroundHeads.webp");

  // &::after {
  //   opacity: 0.4;
  // }
}

.light {
  background-color: $White;

  
  // background-image: linear-gradient(
  //     rgba($White, 0.9),
  //     rgba($White, 0.9)
  //   ),
  //   url("../../images/backgroundHeads.webp");

  &::after {
    opacity: 0.12;
  }
}