.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  justify-self: center;
  font-size: calc($mobile-font-size + 32px);
  line-height: calc($mobile-line-height + 32px);
  font-weight: 500;
  color: $Brand-1;
  width: min-content;
  padding-bottom: 20px;
  border-bottom: 2px solid $Brand-1;
  margin-bottom: 30px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $Brand-1;
    position: absolute;
    left: -12px;
    bottom: -8px;
  }

  &::before {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $Brand-1;
    position: absolute;
    right: -12px;
    bottom: -8px;
  }
}

.text {
  max-width: 500px;
  text-align: center;
  margin-bottom: 50px;
  font-size: calc($mobile-font-size + 5px);
  line-height: calc($mobile-line-height + 5px);
}

@include OnTablet {
  .title {
    font-size: calc($tablet-font-size + 35px);
    line-height: calc($tablet-line-height + 35px);
  }

  .text {
    font-size: calc($tablet-font-size + 5px);
    line-height: calc($tablet-line-height + 5px);
  }
}

@include OnDesktop {
  .title {
    font-size: calc($desktop-font-size + 35px);
    line-height: calc($desktop-line-height + 35px);
  }

  .text {
    font-size: calc($desktop-font-size + 5px);
    line-height: calc($desktop-line-height + 5px);
  }
}
@include OnLarge {
  .title {
    font-size: calc($large-font-size + 39px);
    line-height: calc($large-line-height + 35px);
  }

  .text {
    max-width: 600px;
    font-size: calc($large-font-size + 5px);
    line-height: calc($large-line-height + 5px);
  }
}
