@import "./styles/mixins.scss";



.page {
  padding-inline: 24px;
  transition-property: color, background-color, background-image;
  transition-duration: 500ms;
}

.dark {
  @include dark-theme;
}

.light {
  @include light-theme;
}

section:not(:first) {
  min-height: 100vh;
}

section:first-of-type {
  min-height: calc(100vh - 70px);
}

.tags {
  color: $Brand-1
}
