.page {
  & > * > * {
    margin-inline: $margin-inline-mobile;
  }
}

.dark {
  color: $font-color-dark;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $BG-2 inset !important;
    -webkit-text-fill-color: $White !important;
    font-family: inherit;
  }
}

.light {
  color: $font-color-light;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $White inset !important;
    -webkit-text-fill-color: $BG-2 !important;
    font-family: inherit;
  }
}

.tags {
  color: $Brand-1;
}

@include OnMobile {
  .page {
    @include MobileFont;

    & > * > * {
      margin-inline: $margin-inline-mobile;
    }
  }
}

@include OnTablet {
  .page {
    @include TabletFont;

    & > * > * {
      margin-inline: $margin-inline-tablet;
    }
  }
}

@include OnDesktop {
  .page {
    @include DesktopFont;

    & > * > * {
      margin-inline: $margin-inline-desktop;
    }
  }
}
@include OnLarge {
  .page {
    @include LargeFont;

    & > * > * {
      margin-inline: $margin-inline-large;
    }
  }
}
