.page {
  & > * > * {
    margin-inline: $margin-inline-mobile;
  }
}

.dark {
  color: $font-color-dark;
}

.light {
  color: $font-color-light;
}

.tags {
  color: $Brand-1;
}

@include OnMobile {
  .page {
    @include MobileFont;

    & > * > * {
      margin-inline: $margin-inline-mobile;
    }
  }
}

@include OnTablet {
  .page {
    @include TabletFont;

    & > * > * {
      margin-inline: $margin-inline-tablet;
    }
  }
}

@include OnDesktop {
  .page {
    @include DesktopFont;

    & > * > * {
      margin-inline: $margin-inline-desktop;
    }
  }
}
@include OnLarge {
  .page {
    @include LargeFont;

    & > * > * {
      margin-inline: $margin-inline-large;
    }
  }
}
