.switcherBox {
  padding-top: 10px;
}

.switcher {
  display: flex;
  cursor: pointer;
  box-sizing: content-box;
  width: 41px;
  height: 21px;
  padding: 3px;
  border-radius: 30px;
  border: 2px solid $Brand-1;
  position: relative;

  & input {
    opacity: 0;
    position: absolute;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.hiden {
  display: none;
}

.dark {
  background-color: $BG-1;
}

.light {
  background-color: $White;
}

.icon__dark {
  transform: translateX(0px);
}

.icon__light {
  transform: translateX(19px);
}
