button {
  background: none;
  border: none;
}

.navigation {
  display: flex;
  gap: 20px;
}

.burger_menu {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.light {
  background-image: url('icons/icon-menu-light.svg');
}

.dark {
  background-image: url('icons/icon-menu-dark.svg');
}